@model _2380601390_HuynhVanNam.Models.Product

<h2 class="text-danger mb-4 fw-bold">
    Xóa sản phẩm
</h2>

<div class="alert alert-warning">
    Bạn có chắc muốn xóa sản phẩm này?
</div>

<div class="card shadow-sm" style="width:350px">

    <div class="text-center p-3">
        <img src="@Model.ImageUrl"
             class="img-fluid rounded"
             style="height:200px;object-fit:cover;">
    </div>

    <div class="card-body text-center">

        <h5 class="fw-bold">
            @Model.Name
        </h5>

        <h6 class="text-danger">
            Giá: @Model.Price.ToString("N0") đ
        </h6>

        <p class="text-muted">
            @Model.Description
        </p>

        <p>
            <b>Loại:</b> @Model.Category?.Name
        </p>

    </div>

</div>

<div class="mt-4">

    <form asp-action="DeleteConfirmed" method="post">

        <input type="hidden" asp-for="Id" />

        <button type="submit" class="btn btn-danger">
            Xóa
        </button>

        <a asp-action="Index" class="btn btn-secondary">
            Hủy
        </a>

    </form>

</div>